img.voucherly_icon {
    float: none!important;
    display: inline;
    vertical-align: middle;
    max-height: 48px;
    max-width: 48px;
    object-fit: contain;
    margin: 0 .25rem .125rem;
}

.payment_method_voucherly img.voucherly_icon:first-child {
    margin-left: 0;
}

.payment_method_voucherly img.voucherly_icon:last-child {
    margin-right: 0;
}

.wc-saved-payment-methods  img.voucherly_icon{
    margin-left: 0;
    margin-bottom: 0;
}

a.about_voucherly {
    font-size: .8em;
}